.textoCitla{

    color:deeppink;
    border-radius: 10%;
    background-color: rgb(232, 233, 241);
    display:inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#parrCitla{
    font-size: 14px;
}