#titSaml
{
    background-color: rgb(109, 148, 255);
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
#General
{
    background-color: rgba(43, 110, 255, 0.392);
}