html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#header1
{
    width: 100%;
    height: 20%;
    top: 0;
    display: flex;
    position: fixed;
    background-color: black;
}
#asideFiltros
{
    width: 20%;
    height: 70%;
    display: flex;
    position: fixed;
    left: 0;
    top: 20%;
    background-color: yellow;
}
#asidePlaylist
{
    width: 20%;
    height: 70%;
    display: flex;
    position: fixed;
    right: 0;
    top: 20%;
    background-color: yellow
}
#footerReproduccion
{
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: red;
}
#mainMenuPrincipal
{
    width: 60%;
    height: 100%;
    margin-top: 20%;
    margin-left: 20%;
    margin-bottom: 10%
}