
@font-face {
    font-family: Quicksand;
    src: url(../fonts/quicksand/-/Quicksand_Bold.otf);
}
*{
    font-family: Quicksand;
    margin:0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}
hr{
    color: var(--Claro)
}
:root{
    --Color-tema: #e03802;
    --Oscuro: #202125;
    --Medio: #2a2b2f;
    --Claro: #cac4d0;
}
#header1
{
    width: 100%;
    height: 15vh;
    display: block;
    background-color: var(--Oscuro);
    border-bottom: var(--Claro) solid 1px ;
    flex-flow: row wrap;
    align-content: center;
}
#header1 h1{
    font-size: 35px;
    color: var(--Color-tema);
    display: inline-block;
    vertical-align:middle;
}
#header1 svg{
    margin: 0 15px 0 25px;
}
#container{
    display: flex;
}

#asideFiltros{
    box-sizing: border-box;
    padding: 1vw;
    min-width: 15vw;
    min-height: 70vh;
    background-color: var(--Medio);
    line-height: 2.5;
}
#asideFiltros div{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 22px;
    color: var(--Color-tema);
    justify-content: space-between;
}
#asideFiltros svg{
    margin-top: 10px;
}

#mainMenuPrincipal{
    box-sizing: border-box;
    min-width: 60vw;
    background-color: var(--Oscuro);
    display: flex;
    flex-flow: row wrap;
    align-content:space-evenly;
    justify-content:space-evenly;
}

#asidePlaylist{
    box-sizing: border-box;
    padding: 1vw;
    min-width: 23.9vw;
    background-color: var(--Oscuro);
    
}
#footerReproduccion{
    box-sizing: border-box;
    min-height: 15vh;
    background-color: var(--Medio);
}
#video{
    box-sizing: border-box;
    height: 37%;
    width: 100%;
    border: var(--Color-tema) solid 3px;
    border-radius: 15px;
}
.articulos{
    width: 40%;
    height: 30%;
    border-radius: 15px;
    background-color: var(--Medio);
    border: var(--Claro) solid 2px;

}
.ico{
    box-sizing: border-box ;
    display: inline-block;
    width: 37px;
    height: 37px;
    cursor: pointer;
    vertical-align:middle;
    fill: var(--Color-tema);
    stroke: var(--Color-tema);
}


/*cola de reproduccion*/

.playlist-container {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
    background-color: #202125;
    border-radius: 1.5vw;
    outline: 0.3vw solid #E03802;
}

.playlist-queue {
    list-style: none;
    overflow-y: auto;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}
.playlist-queue li {
    padding: 1vh 1vw;
    background-color: #262729;
    margin-bottom: 0.5vh;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 2px solid #E03802;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.playlist-queue li:hover {
    background-color: #26272900;
}

.song-info {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.song-title {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-artist {
    color: #aaa;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-remove {
    background: none;
    border: none;
    color: #777;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 50%;
}

.btn-remove:hover {
    color: #E03802;
    background-color: rgba(255, 255, 255, 0.068);
}
.icon-remove::before { content: "\2716"; }