
@font-face {
    font-family: Quicksand;
    src: url(../fonts/quicksand/-/Quicksand_Bold.otf);
}
*{
    font-family: Quicksand;
    margin:0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}
hr{
    color: var(--Claro)
}
:root{
    --Color-tema: #e03802;
    --Oscuro: #202125;
    --Medio: #2a2b2f;
    --Claro: #cac4d0;
}
#header1
{
    width: 100%;
    height: 15vh;
    display: block;
    background-color: var(--Oscuro);
    border-bottom: var(--Claro) solid 1px ;
    flex-flow: row wrap;
    align-content: center;
}
#header1 h1{
    font-size: 35px;
    color: var(--Color-tema);
    display: inline-block;
    vertical-align:middle;
}
#header1 svg{
    margin: 0 15px 0 25px;
}
#container{
    display: flex;
}

#asideFiltros{
    box-sizing: border-box;
    padding: 1vw;
    min-width: 15vw;
    min-height: 70vh;
    background-color: var(--Medio);
    line-height: 2.5;
}
#asideFiltros div{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 22px;
    color: var(--Color-tema);
    justify-content: space-between;
}
#asideFiltros svg{
    margin-top: 10px;
}

#mainMenuPrincipal{
    box-sizing: border-box;
    min-width: 60vw;
    background-color: var(--Oscuro);
    display: flex;
    flex-flow: row wrap;
    align-content:space-evenly;
    justify-content:center;
    gap: 25px;
    padding: 20px;
}

#asidePlaylist{
    box-sizing: border-box;
    padding: 1vw;
    min-width: 23.9vw;
    background-color: var(--Oscuro);
    
}
#footerReproduccion{
    box-sizing: border-box;
    min-height: 15vh;
    background-color: var(--Medio);
}
#video{
    box-sizing: border-box;
    height: 37%;
    width: 100%;
    border: var(--Color-tema) solid 3px;
    border-radius: 15px;
}
.articulos{
    width: 40%;
    border-radius: 15px;
    background-color: var(--Medio);
    border: var(--Claro) solid 2px;
    color: var(--Claro);
    text-align:center;
    padding: 15px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
.articulos:hover {
    border-color: var(--Color-tema);
    cursor: pointer;
}
.ico{
    box-sizing: border-box ;
    display: inline-block;
    width: 37px;
    height: 37px;
    cursor: pointer;
    vertical-align:middle;
    fill: var(--Color-tema);
    stroke: var(--Color-tema);
}
.imagen-tarjeta {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}