
@font-face {
    font-family:Quicksand;
    src: url(../fonts/quicksand/-/Quicksand_Bold.otf);
}
@font-face {
    font-family:Inter;
    src: url(../fonts/inter/-/Inter-Regular.otf);
}
@font-face {
    font-family:SF-Pro;
    src: url(../fonts/sf-pro-display/-/SFPRODISPLAYMEDIUM.OTF);
}
*{
    margin:0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}
hr{
    color: var(--Claro)
}
:root{
    --Color-tema: #e03802;
    /* --Color-tema: #3f51b5; */
    --Oscuro: #202125;
    --Medio: #2a2b2f;
    --Claro: #cac4d0;
    --Trasparente: #00000000;
}
#header1
{
    font-family: Inter;
    width: 100%;
    height: 15vh;
    display: block;
    background-color: var(--Oscuro);
    border-bottom: var(--Claro) solid 1px ;
    flex-flow: row wrap;
    align-content: center;
}
#header1 h1{
    font-size: 35px;
    color: var(--Color-tema);
    display: inline-block;
    vertical-align:middle;
    background-color: var(--Oscuro);
}
#header1 svg{
    margin: 0 15px 0 25px;
}
#container{
    display: flex;
}

#asideFiltros{
    font-family: Quicksand;
    box-sizing: border-box;
    padding: 1vw;
    min-width: 15vw;
    min-height: 70vh;
    background-color: var(--Medio);
    line-height: 2.5;
}
#asideFiltros div{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    font-size: 22px;
    color: var(--Color-tema);
    justify-content: space-between;
}
#asideFiltros svg{
    margin-top: 10px;
}

#mainMenuPrincipal{
    box-sizing: border-box;
    min-width: 60vw;
    height: 70vh;
    background-color: var(--Oscuro);
    display: flex;
    flex-flow: row wrap;
    align-content:space-evenly;
    justify-content:center;
    gap: 25px;
    padding: 20px;
    overflow-y: auto;
}

#asidePlaylist{
    box-sizing: border-box;
    padding: 1vw;
    min-width: 23.9vw;
    height: 70vh;
    background-color: var(--Oscuro);
    display: flex;
    flex-direction: column;
    
}
#footerReproduccion{
    box-sizing: border-box;
    min-height: 15vh;
    background-color: var(--Medio);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#footerMitadSuperior, #footerMitadInferior{
    display: flex;
    height: 50%;
    width: 100%;
    justify-content:center;
}
#containerControlesReproduccion{
    width: 65%;
    display: flex;
    justify-content: space-evenly;
}

#controlAleatorio{
    display: flex;
    justify-content: left;
    width: 22vw;
}

#controlesCancion{
    display: flex;
    justify-content: center;
    width: 22vw;
}
#controlesVolumen{
    display: flex;
    justify-content: right;
    width: 22vw;
}

#Video{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    border: var(--Color-tema) solid 3px;
    border-radius: 15px;
}
#BarraDuracion{
    width: 65%;
    appearance:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--Trasparente) ;
    cursor: pointer;
}
#BarraDuracion::-webkit-slider-runnable-track{
    box-sizing: content-box;
    appearance:none;
    background: var(--Claro);
    height: 15px;
    border-radius: 15px;
    border: var(--Oscuro) solid 5px;
}
#BarraDuracion::-webkit-slider-thumb{
    box-sizing: border-box;
    appearance:none;
    border-radius: 15px;
    width: 2%;
    height: 100%;
    border: var(--Medio) solid 3px ;
    background: var(--Color-tema);
}
.articulos{
    width: 40%;
    border-radius: 15px;
    background-color: var(--Medio);
    border: var(--Claro) solid 2px;
    color: var(--Claro);
    text-align:center;
    padding: 15px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}
.articulos:hover {
    border-color: var(--Color-tema);
    cursor: pointer;
}

.ico{
    box-sizing: border-box ;
    display: inline-block;
    width: 37px;
    height: 37px;
    margin: 10px;
    cursor: pointer;
    vertical-align:middle;
    fill: var(--Color-tema);
    stroke: var(--Color-tema);
}

/*Aside de la playlist*/

.video-placeholder{
    overflow: hidden;
}
.video-placeholder *{
    width: 100%;
}
/*cola de reproduccion*/
/*Elemento section*/
#cola_reproduccion{
    padding: 5px;
    overflow-y: auto;
}

.playlist-container {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
    background-color: #202125;
    border-radius: 1.5vw;
    outline: 0.3vw solid #E03802;
}

.playlist-queue {
    list-style: none;
    overflow-y: auto;
    flex-grow: 1;
    padding: 0;
    margin: 0;
}
.playlist-queue li {
    padding: 1vh 1vw;
    background-color: #262729;
    margin-bottom: 0.5vh;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 2px solid #E03802;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
}

.playlist-queue li:hover {
    background-color: #26272900;
}

.song-info {
    flex-grow: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.song-title {
    color: #fff;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-artist {
    color: #aaa;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-remove {
    background: none;
    border: none;
    color: #777;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 50%;
}

.btn-remove:hover {
    color: #E03802;
    background-color: rgba(255, 255, 255, 0.068);
}
.icon-remove::before { content: "\2716"; }

.imagen-tarjeta {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
}
#titColaRepr{
    color: #fff;
}