* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*tipos de letra*/
@font-face{
    font-family: 'quicksand';
    src: url('../fonts/quicksand/Quicksand_Book.otf') format('opentype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'inter';
    src: url('../fonts/inter/Inter-Medium.otf') format('opentype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
    body {
    font-family: 'quicksand';
    background-color: #202125;
    color: #E03802;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*perfiles*/
.profiles-container {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    text-align: center;}
.profiles-title {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 1000;
}
.profiles{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}


.profile, .add-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.profile:hover {
    transform: scale(1.05);
}
.profile-icon, .add-icon{
    width: 150px;
    height: 150px;
    margin: 0 auto 1rem;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid transparent;
    transition: ball 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-name{
    color: #E03802;
    font-size: 1.2rem;
    
}
/*añadir perfil*/
.add-profile:hover{
    transform: scale(1.05);
}

.add-icon{
    background-color: #202125;
    border-color: #E03802;
    color: #E03802;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
}
.add-icon:hover{
    background-color: #1c1d20;
    transform: scale(1.05);
    border-color: #E03802;
}
.add-icon::before { content:"\2b"; }