<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="formPreferencias">
        <h1>Escoge tus géneros favoritos:</h1>
        <input type="checkbox" id="MusicaElectronica" name="generos" value="MusicaElectronica">
        <label for="MusicaElectronica">Música Electrónica</label><br>

        <input type="checkbox" id="Pop" name="generos" value="Pop">
        <label for="Pop">Pop</label><br>

        <input type="checkbox" id="Rock" name="generos" value="Rock">
        <label for="Rock">Rock</label><br>

        <input type="checkbox" id="HipHop" name="generos" value="HipHop">
        <label for="HipHop">Hip Hop</label><br>

        <input type="checkbox" id="RNB" name="generos" value="RNB">
        <label for="RNB">R&B</label><br>

        <input type="checkbox" id="Country" name="generos" value="Country">
        <label for="Country">Country</label><br>

        <input type="checkbox" id="Jazz" name="generos" value="Jazz">
        <label for="Jazz">Jazz</label><br>
        <br>
        <h1>Escoge tus artistas favoritos:</h1>

        <input type="checkbox" id="Avicii" name="artistas" value="Avicii">
        <label for="Avicii">Avicii</label><br>

        <input type="checkbox" id="Marshmello" name="artistas" value="Marshmello">
        <label for="Marshmello">Marshmello</label><br>

        <input type="checkbox" id="MartinGarrix" name="artistas" value="MartinGarrix">
        <label for="MartinGarrix">Martin Garrix</label><br>

        <input type="checkbox" id="DavidGuetta" name="artistas" value="DavidGuetta">
        <label for="DavidGuetta">David Guetta</label><br>

        <input type="checkbox" id="LuisFonsi" name="artistas" value="LuisFonsi">
        <label for="LuisFonsi">Luis Fonsi</label><br>

        <input type="checkbox" id="EdSheeran" name="artistas" value="EdSheeran">
        <label for="EdSheeran">Ed Sheeran</label><br>

        <input type="checkbox" id="Queen" name="artistas" value="Queen">
        <label for="Queen">Queen</label><br>

        <input type="checkbox" id="Caifanes" name="artistas" value="Caifanes">
        <label for="Caifanes">Caifanes</label><br>

        <input type="checkbox" id="DaddyYankee" name="artistas" value="DaddyYankee">
        <label for="DaddyYankee">Daddy Yankee</label><br>

        <br><br>
        <button type="submit">Guardar preferencias</button>

    </form>
    <script src="../Dynamics/js/preferencias.js"></script>
</body>
</html>