<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParrotDJ</title>
    <link rel="stylesheet" href="../Statics/styles/preferencias.css">
</head>
<body>
    <form id="formPreferencias">
        <h1>Escoge tus géneros favoritos:</h1>
        <div>
            <div>
                <input type="checkbox" id="MusicaElectronica" name="generos" value="MusicaElectronica">
                <label for="MusicaElectronica">Música Electrónica</label><br>
            </div>
            <div>
                <input type="checkbox" id="Pop" name="generos" value="Pop">
                <label for="Pop">Pop</label><br>
            </div>
            <div>
                <input type="checkbox" id="Rock" name="generos" value="Rock">
                <label for="Rock">Rock</label><br>
            </div>
            <div>
                <input type="checkbox" id="HipHop" name="generos" value="HipHop">
                <label for="HipHop">Hip Hop</label><br>
            </div>
            <div>
                <input type="checkbox" id="RNB" name="generos" value="RNB">
                <label for="RNB">R&B</label><br>
            </div>
            <div>
                <input type="checkbox" id="Country" name="generos" value="Country">
                <label for="Country">Country</label><br>
            </div>
            <div>
                <input type="checkbox" id="Jazz" name="generos" value="Jazz">
                <label for="Jazz">Jazz</label><br>
            </div>
        </div>
        <br>
        <h1>Escoge tus artistas favoritos:</h1>

        <div>
            <div>
                <input type="checkbox" id="Avicii" name="artistas" value="Avicii">
                <label for="Avicii">Avicii</label><br>
            </div>
            <div>
                <input type="checkbox" id="Marshmello" name="artistas" value="Marshmello">
                <label for="Marshmello">Marshmello</label><br>
            </div>
            <div>
                <input type="checkbox" id="MartinGarrix" name="artistas" value="MartinGarrix">
                <label for="MartinGarrix">Martin Garrix</label><br>
            </div>
            <div>
                <input type="checkbox" id="DavidGuetta" name="artistas" value="DavidGuetta">
                <label for="DavidGuetta">David Guetta</label><br>
            </div>
            <div>
                <input type="checkbox" id="LuisFonsi" name="artistas" value="LuisFonsi">
                <label for="LuisFonsi">Luis Fonsi</label><br>
            </div>
            <div>
                <input type="checkbox" id="EdSheeran" name="artistas" value="EdSheeran">
                <label for="EdSheeran">Ed Sheeran</label><br>
            </div>
            <div>
                <input type="checkbox" id="Queen" name="artistas" value="Queen">
                <label for="Queen">Queen</label><br>
            </div>
            <div>
                <input type="checkbox" id="Caifanes" name="artistas" value="Caifanes">
                <label for="Caifanes">Caifanes</label><br>
            </div>
            <div>
                <input type="checkbox" id="DaddyYankee" name="artistas" value="DaddyYankee">
                <label for="DaddyYankee">Daddy Yankee</label><br>
            </div>
        </div>
        <br><br>
        <button id="BotonPreferencias" type="submit"><a href="../../templates/index.html">Guardar preferencias</a></button>
    </form>
    <script src="../Dynamics/js/preferencias.js"></script>
</body>
</html>