<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../statics/css/index.css">
</head>
<body>
    <header id="header1">
        <img class="ico" src="../statics/Icons/filter.svg" alt="Filtros">
        <img class="ico" src="../statics/Icons/magnifying-glass.svg" alt="Buscar">
        <h1>ParrotDJ</h1>
    </header>
    <div class="container" id="container">
        <aside id="asideFiltros"></aside>
        <main id="mainMenuPrincipal">
            <article class="articulos"></article>
            <article class="articulos"></article>
            <article class="articulos"></article>
            <article class="articulos"></article>
        </main>
        <aside id="asidePlaylist">
            <div>                
                <iframe id="video" src="https://www.youtube.com/watch?v=YfD_leQKSNk"></iframe>
            </div>
        </aside>

    </div>

    </div>
    
    <footer id="footerReproduccion"></footer>
</body>
</html>