<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../statics/css/CW-23-E4.css">
</head>
<body>
    <header id="header1">
        <h1>ParrotDJ</h1>
    </header>
    <main id="mainMenuPrincipal">
        <div style="margin: 0; padding: 0;">Canción</div>
    </main>
    <aside id="asideFiltros"></aside>
    <aside id="asidePlaylist"></aside>
    <footer id="footerReproduccion"></footer>
</body>
</html>