<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfiles de Usuario</title>
    <link rel="stylesheet" href="../statics/css/perfiles.css">
</head>
<body>
    <header>
        <!--<div id="nombrePag">ParrotDJ</div>-->
        <!-- No se como añadir logos , gio tira paro
        <div id="logoImg">
            <img src="../statics/media/img/logoImg">
        </div>
        -->

    </header>
    <div class="profiles-container">
        <h1 class="profiles-title">Selecciona tu perfil</h1>
        <div class="profiles">
            <div class="profile">
                <!--ejemplo de perfil-->
                    <div class="profile-icon">
                        <img src="../statics/media/img/parrotRojo.png">
                    </div>
                    <div class="profile-name">Usuario 1</div>
            </div>
            
            
            <div class="add-profile">
                    <div class="profile-picture">
                        <span class="add-icon"></span>
                    </div>
                    <div class="profile-name">Añadir perfil</div>
            </div>
        </div>
    </div>
    <script src="../Dynamics/js/perfiles.js"></script>
</body>
</html>