<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfiles de Usuario</title>
    <link rel="stylesheet" href="../statics/css/perfiles.css">
</head>
<body>
    <div class="profiles-container">
        <h1 class="profiles-title">Selecciona tu perfil</h1>
        <div class="profiles">
            <div class="profile">
                    <div class="profile-picture">
                        <img src="../statics/media/img/parrotRojo.png">
                    </div>
                    <div class="password">
                        
                    </div>
                    <div class="profile-name">Usuario 1</div>
            </div>
            <div class="add-profile">
                    <div class="profile-picture">
                        <div class="add-icon">+</div>
                    </div>
                    <div class="profile-name">Añadir perfil</div>
            </div>
        </div>
    </div>
</body>
</html>